@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// 1. Your custom variables and variable overwrites.
$global-primary-background: orange;
$global-medium-font-size: 1.25rem !default;  // 20px
$base-heading-font-family: 'Poppins', sans-serif;;
$navbar-nav-item-font-family: $base-heading-font-family;
$navbar-nav-item-font-size: $global-medium-font-size;
$navbar-background: $global-primary-background;

$inverse-navbar-nav-item-color: #fff;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


// Customs
body {
    background-image: url("../img/background-ilustration.jpg");
}

/* Text */
/*------------------------------------------------------------------------*/
.uk-light {
	.uk-text-primary {
		color: $global-primary-background !important;
	}
}

/* Cards */
/*------------------------------------------------------------------------*/
.card-irregular-radius {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px 50px 20px 50px;
	overflow: hidden;
}

.card-lighten-border {
	background-color: rgba(0, 0, 0, 0.5);
	border: solid 2px $global-primary-background;
	box-shadow: 0 0 20px rgba($global-primary-background, 0.7), inset 0 0 20px rgba($global-primary-background, 0.7);
}



@media (min-width:960px) {
	.card-irregular-radius {
		border-radius: 20px 150px 20px 150px;
	}
}